<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/bootstrapHead") %>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("../partials/sidebar") %>
            </div>
            <div class="col-sm-10">
                <h1>Title: <%= book.title %> </h1>
                <p><strong>Author: </strong><a href="<%= book.author.url %>"><%= book.author.name %> </a></p>
                <p><strong>Summary: </strong><%= book.summary %> </p>
                <p><strong>ISBN: </strong><%= book.isbn %> </p>
                <p><strong>Genre: </strong>&nbsp;
                    <% if(book.genre.length === 0){ %>
                    there are no genres for this book
                    <% } else{ %>
                    <% for(let i=0; i<book.genre.length;i++){ %>
                    <a href="<%= book.genre[i].url %>"><%= book.genre[i].name %></a>
                    <% if(i < book.genre.length - 1){ %>
                    ,
                    <% }}} %>
                </p>
                <div style="margin: 20px 0 0 20px;">
                    <h4>Copies</h4>

                    <% if(book_instances.length === 0){ %>

                    <p>There are no copies of this book in the library</p>

                    <% } else{ %>
                    <% book_instances.forEach(book_instance =>{ %>
                    <% let status = book_instance.status %>
                    <% if(status === "Available"){ %>

                    <p class="text-success"><%= status %> </p>

                    <% } else if(status === "Maintenance"){ %>

                    <p class="text-danger"><%= status %> </p>

                    <% } else { %>

                    <p class="text-warning"><%= status %> </p>

                    <% } %>

                    <p><strong>Imprint: </strong><%= book_instance.imprint %> </p>
                    <p><strong>Due back: </strong><%= book_instance.due_back_formatted %> </p>
                    <p><strong>Id: </strong><a href="<%= book_instance.url %>"><%= book_instance._id %></a></p>

                    <% })} %>
                </div>
                <div style="margin-top: 30px;">
                    <a style="margin-right: 1.5em;" class="btn btn-primary" role="button"
                        href="<%= book.url + "/delete"%>">Delete book</a>
                    <a class="btn btn-primary" role="button" href="<%= book.url + "/update" %>">Update book</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>